#nav-button {
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 50%;
  padding: 10px 40px 15px 0px;
}

#nav-button span,
#nav-button span:after,
#nav-button span:before {
  transition: all 500ms ease-in-out;
  border-radius: 1px;
  height: 5px;
  width: 40px;
  background: white #000;
  position: absolute;
  display: block;
  content: "";
}

#nav-button span:before {
  top: -10px;
}
#nav-button span:after {
  bottom: -10px;
}

#nav-button.active span {
  background-color: transparent;
}

#nav-button.active span:before,
#nav-button.active span:after {
  top: 0;
}

#nav-button.active span:after {
  transform: rotate(-45deg);
}

#nav-button.active span:before {
  transform: rotate(45deg);
}

body h1 {
  font-size: 22px;
  color: #00ccff;
}
*{
  margin: 0;
  padding: 0;
}
