.navigation {
  height: 70px;
  background: #001628;
}
nav {
  float: left;
  width: 100%;
}
.nav-menu {
  display: block;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #001628;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #72e0d1;
  text-decoration: none;
}
nav ul li a:hover {
  background: #2581dc;
  color: #ffffff;
}
nav ul li a:not {
  padding-left: 5px;
  content: '▾';
}
.nav-submenu {
  width: auto;
  position: absolute;
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  display: none;
}
