body h1 {
  font-size: 22px;
  color: #00ccff;
}
*{
  margin: 0;
  padding: 0;
}
header{
  font-family: sans-serif;
  width: 480px;
  margin: 0 auto;
}
ul{
  list-style: none;
}
#menu li>a{
  background-color: grey;
  color: white;
  text-decoration: none;
}
#menu li>a:hover{
  color: black;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center
}